| {% load staticfiles %}
doctype html
html(lang="en")
  head
    title ID Server {% block head_title %}{% endblock %}
    meta(charset='utf-8')
    meta(name='description', content='ID Server')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='keywords', content='app, responsive, bootstrap, dashboard, authentication')
    link(rel="icon", href="{% static 'web/img/favicon.ico' %}")
    // Themes
    link(rel="stylesheet", href="{% static 'web/css/bootstrap.paper.min.css' %}")
    //link(rel="stylesheet", href="{ % static 'css/bootstrap.min.css' %}")
    link(rel="stylesheet", href="{% static 'web/css/font-awesome.min.css' %}")
    script(type="text/javascript", src="{% static 'web/js/jquery-2.1.1.min.js' %}")
    script(type="text/javascript", src="{% static 'web/js/bootstrap.min.js' %}")

  body
    | {% load socialaccount %}
    | {% providers_media_js %}
    | {% block body %}
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse" data-target="navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") ID Server
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='{{ SITE_URL }}/api/docs/') API Specification
            li
              a(href="/about") About
          ul.nav.navbar-nav.navbar-right
            | {% if user.is_authenticated %}
            li
              img.img-thumbnail.img-responsive(src="{% static 'web/avatars/avatar' %}{{user.pk}}.jpg", width='42px', style='margin-top:10px;')
            li
              a(href="{% url 'account_email' %}" title="Manage your account") My Account
            li
              a(href="{% url 'account_logout' %}") Log out
            | {% else %}
            li
              a(href="{% url 'account_login' %}") Sign In
            //li
              a(href="{ % url 'account_signup' %}") Sign Up
            | {% endif %}

    .container.body-content
      .jumbotron
        .container-fluid
        .row
          .col-md-3.col-xs-5(style="padding-top:25px;")
            img(src="{% static 'web/img/auth_home.png' %}", width='100%')
          .col-md-9.col-xs-12
            | {% block content %}
            .row(style="padding-top:100px;")
            .row
              .col-md-12.col-xs-12
                h1 Authentication Server
            .row(style="padding-top:25px;")
              .col-md-1.col-xs-12
              .col-md-8.col-xs-12
                | {% if user.is_authenticated %}
                .alert.alert-dismissible.alert-success.text-center
                  h5
                    strong(style="color:white;") You're successfully signed in.
                | {% else %}
                //a(href="{% url 'account_login' %}")
                  .alert.alert-dismissible.alert-info.text-center
                    h5
                      strong(style="color:white;") Login with different services in one place!!
                | {% endif %}
              .col-md-3.col-xs-12
            //.row
              .col-md-12.col-xs-12.text-center
            | {% endblock %}

      footer
        p &copy; 2016 - Daniel Silva - 51908
    | {% endblock %}

    | {% block extra_body %}
    | {% endblock %}
