
{% extends "index.html" %}
{% block head_title %} - Manage Phone{% endblock %}
{% block content %}
<h3>Manage my Phone</h3>
<div><br/>
  <div class="row">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-7 col-xs-12">
      <div class="alert alert-dismissible text-center {{className}}">{% if not hasMessage %}<strong style="color:white;">Something was supposed to be in here!</strong>{% else %}
        <h6 style="color:white;">{{message}}</h6>{% endif %}
      </div>
    </div>
    <div class="col-md-2 col-xs-12"></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-12"></div>
    <div class="col-md-10 col-xs-12">
      <h5>Add Phone manually</h5>
      <form method="post" action="/accounts/manage/phone/">
        {% csrf_token %}
        {{phone_form.as_p}}
        <button name="action_add_phone" type="submit" class="btn btn-xs btn-toolbar">Add</button>
      </form>
    </div>
  </div>
</div>{% endblock %}