
{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans " - Sign In" %}{% endblock %}
{% block content %}
<style type="text/css">
  .normalFaColor {
    color: #666666;
  }
  .hoverFacebook:hover {
    color: #3b5998;
  }
  .hoverGoogle:hover {
    color: #F44336;
  }
  .hoverTwitter:hover {
    color: #1da1f2;
  }
  .hoverLinkedIn:hover {
    color: #0077b5;
  }
  
</style>
<h1>{% trans "Sign In" %}</h1>{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h5>Please sign in with one of your existing third party accounts.</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12 text-center">{% include "socialaccount/snippets/provider_list.html" with process="login" %}
    <!--a.col-md-3.normalFaColor.hoverFacebook(href="{ % provider_login_url 'facebook' method='js_sdk' next='/success/url/' %}")-->
    <!--  .fa.fa-facebook-square.fa-4x-->
    <!--a.col-md-3.normalFaColor.hoverGoogle(href="{ % provider_login_url 'google' next='/success/url/' %}")-->
    <!--  .fa.fa-google-plus-official.fa-4x-->
    <!--a.col-md-3.normalFaColor.hoverTwitter(href="{ % provider_login_url 'twitter' next='/success/url/' %}")-->
    <!--  .fa.fa-twitter-square.fa-4x-->
    <!--a.col-md-3.normalFaColor.hoverLinkedIn(href="{ % provider_login_url 'linkedin' next='/success/url/' %}")-->
    <!--  .fa.fa-linkedin-square.fa-4x-->
  </div>
</div>{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
{% endblock %}