<!--<html>
	<body>
		<h1>what will you do?</h1>
		<form>
			<input type="submit" name="submit" value="turnOnLight">
			<input type="submit" name="submit" value="turnOffLight">
		</form>
	</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>ES - SmarTicket</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div style="width: 100%; overflow: hidden;">
<div class="col-md-4" >

<!--
<div class="col-md-4" style="margin-left: 20px; width: 300px; float: left;">
-->
<h2>Please pass card on the sensor</h2>

</div>

<script type="text/javascript">
	var a=parent.document.URL.substring(parent.document.URL.indexOf('type='), parent.document.URL.length).split('=')[1].split('#')[0];
	window.location.href = "/passCard?type="+ a;
</script>
</body>
</html>